<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pirumart.carnet">

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/CustomStyle.DarkTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pirumart.carnet.MainActivity" />
        </activity>
        <activity android:name=".activities.AddToDoActivity"></activity>

        <activity android:name="com.pirumart.carnet.AddToDoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.pirumart.carnet.MainActivity"
            />

        <activity android:name="com.pirumart.carnet.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.pirumart.carnet.MainActivity"
            />

        <activity android:name="com.pirumart.carnet.ReminderActivity"
            android:label="@string/app_name"
            />

        <service android:name="com.pirumart.carnet.TodoNotificationService"
            />
        <service android:name="com.pirumart.carnet.DeleteNotificationService"
            />
        <activity android:name="com.pirumart.carnet.SettingsActivity"
            android:parentActivityName="com.pirumart.carnet.MainActivity"

            />
    </application>

</manifest>